@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: black;
    color:white;

}

.left {
    width: 25vw;
    padding: 10px;
}

.right {
    width: 75vw;
    position: relative;
}


.home ul li{
    display: flex;
    gap: 15px;
    width: 14px;
    list-style: none;
    padding-top: 14px;
    font-weight: bold;
}

.heading {
   width: 100%;
   display: flex;
   gap: 15px;
   padding: 23px 14px;
   font-size: 13px;
   padding-top: 14px;
   font-weight: bold;
   align-items: center;

}

.footer{
    display: flex;
    font-size: 10px;
    gap: 16px;
    position: absolute;
    bottom: 0;
    flex-wrap: wrap;
    padding: 10px 0;
}

.footer a{
    color: grey;
    text-decoration: none;
    
}

.right{
    margin: 16px 0;
}

.library{
    min-height: 80vh;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
    height: 72px;
}

.header > *{
    padding: 20px;
}

.spotifyPlaylists{
    padding: 16px;

}

.cardContainer{
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 30px;
    max-height: 70vh;
    overflow: scroll;
}

.card{
    width: 200px;
    padding: 10px;
    border-radius: 5px;
    background-color: #252525;
    position: relative;
}

.card img{
    width: 100%;
    object-fit: contain; 
}

.card > *{
    padding-top: 10px;
}

.play{
    width: 28px;
    height: 28px;
    background-color: #1DB954;
    border-radius: 50%;
    padding: 4px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 200px;
    right: 17px;
    opacity: 0;
    transition: all 0.5s ease-out;
}

.card:hover .play{
    opacity: 1;
    top: 168px;
}

.card:hover {
    cursor: pointer;
}

.signBtn{
    background-color: #222222;
    color: rgb(167, 165, 165);
    font-weight: bold;
    border: none;
    outline: none;
    font-size: 14px;
    padding: 10px;
}

.signBtn:hover{
    color: white;
    font-size: 15px;
    cursor: pointer;
}

.loginBtn{
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border-radius: 25px ;
    outline: none;
    font-size: 14px;
    padding: 10px;
    width: 80px;
    font-weight: bold;
}

.loginBtn:hover{
    color: rgb(0, 0, 0);
    font-size: 15px;
    cursor: pointer;
    font-weight: bold;
    font-size: 15px;
}

.playbar{
    position: absolute;
    bottom: 0;
    background-color: rgb(0, 0, 0);
    width: 100%;
    padding: 12px;
}

.songButtons{
    display: flex;
    justify-content: center;
    gap: 12px;
}

